@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 248 41% 55%;
        --primary-contrast: 0 0% 100%;
        --background: 261 37% 97%;

        /*TextColors*/
        --text: 216, 9%, 34%;
    }
    .dark {
        --background: 261 37% 97%;

        /*TextColors*/
        --text: 216, 9%, 34%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply bg-background;
        @apply text-text;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    h2 {
        @apply text-2xl;
        @apply font-bold;
    }
}
