@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 261 37% 97%;

        /*TextColors*/
        --text: 216, 9%, 34%;
    }
    .dark {
        --background: 261 37% 97%;

        /*TextColors*/
        --text: 216, 9%, 34%;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
